/* FONTS */
/*


font-family: 'Open Sans', sans-serif;

font-family: 'Helvetica', sans-serif;

font-family: 'Arial Unicode MS', sans-serif;

font-family: 'Roboto', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Oswald', sans-serif;

font-family: 'Roboto Condensed', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Source Sans Pro', sans-serif;

font-family: 'Raleway', sans-serif;

font-family: 'PT Sans', sans-serif;

font-family: 'Droid Sans', sans-serif;

font-family: 'Open Sans Condensed', sans-serif;

font-family: 'Ubuntu', sans-serif;

font-family: 'Roboto Slab', serif;

font-family: 'Droid Serif', serif;

font-family: 'Merriweather', serif;

font-family: 'Arimo', sans-serif;

font-family: 'Titillium Web', sans-serif;

font-family: 'Poiret One', cursive;

font-family: 'Passion One', cursive;

font-family: 'Candal', sans-serif;

font-family: 'Dosis', sans-serif;

font-family: 'Lobster', cursive;

font-family: 'Oxygen', sans-serif;

font-family: 'Anton', sans-serif;

font-family: 'Josefin Sans', sans-serif;

font-family: 'Francois One', sans-serif;

font-family: 'Righteous', cursive;

font-family: 'Quicksand', sans-serif;

font-family: 'Orbitron', sans-serif;

font-family: 'Fredoka One', cursive;

font-family: 'Josefin Slab', serif;

font-family: 'Source Code Pro', ;

font-family: 'Comfortaa', cursive;

font-family: 'Pontano Sans', sans-serif;

font-family: 'Quattrocento Sans', sans-serif;

font-family: 'Russo One', sans-serif;

font-family: 'Archivo Black', sans-serif;

font-family: 'Black Ops One', cursive;

font-family: 'Hammersmith One', sans-serif;

font-family: 'Amaranth', sans-serif;

font-family: 'Special Elite', cursive;

font-family: 'Fugaz One', cursive;

font-family: 'Jura', sans-serif;

font-family: 'Marck Script', cursive;

font-family: 'Playball', cursive;

font-family: 'Paytone One', sans-serif;

font-family: 'Changa One', cursive;

font-family: 'Audiowide', cursive;

font-family: 'Squada One', cursive;

font-family: 'Aldrich', sans-serif;

font-family: 'Limelight', cursive;

font-family: 'Days One', sans-serif;

font-family: 'Oleo Script', cursive;

font-family: 'Ultra', serif;

font-family: 'Rajdhani', sans-serif;

font-family: 'Khula', sans-serif;

font-family: 'Advent Pro', sans-serif;

font-family: 'Fredericka the Great', cursive;

font-family: 'Montserrat Alternates', sans-serif;

font-family: 'Aclonica', sans-serif;

font-family: 'Sansita One', cursive;

font-family: 'Poller One', cursive;

font-family: 'Corben', cursive;

font-family: 'Frijole', cursive;

font-family: 'Lilita One', cursive;

font-family: 'Racing Sans One', cursive;

font-family: 'Carter One', cursive;

font-family: 'Lekton', sans-serif;

font-family: 'Shanti', sans-serif;


Marathi:

font-family: 'Modak', cursive;

font-family: 'Asar', serif;

font-family: 'Inknut Antiqua', serif;

font-family: 'Eczar', serif;

font-family: 'Sahitya', serif;

font-family: 'Rhodium Libre', serif;

font-family: 'Tillana', cursive;

font-family: 'Arya', sans-serif;

font-family: 'Amita', cursive;

font-family: 'Ranga', cursive;

font-family: 'Vesper Libre', serif;

font-family: 'Rozha One', serif;

font-family: 'Sarpanch', sans-serif;

font-family: 'Sura', serif;

font-family: 'Dekko', cursive;

font-family: 'Sumana', serif;

font-family: 'Palanquin Dark', sans-serif;

font-family: 'Jaldi', sans-serif;

font-family: 'Laila', serif;

font-family: 'Martel Sans', sans-serif;

font-family: 'Martel', serif;

font-family: 'Karma', serif;

font-family: 'Palanquin', sans-serif;

font-family: 'Kurale', serif;

font-family: 'Biryani', sans-serif;

font-family: 'Yantramanav', sans-serif;

font-family: 'Pragati Narrow', sans-serif;

font-family: 'Sarala', sans-serif;

font-family: 'Cambay', sans-serif;

font-family: 'Halant', serif;

font-family: 'Kadwa', serif;

font-family: 'Khand', sans-serif;

font-family: 'Teko', sans-serif;

font-family: 'Ek Mukta', sans-serif;

font-family: 'Rajdhani', sans-serif;

font-family: 'Khula', sans-serif;

font-family: 'Kalam', cursive;

font-family: 'Glegoo', serif;

font-family: 'Poppins', sans-serif;

font-family: 'Hind', sans-serif;


*/
/* WEB LINK +++++++++++++++++++++++++++++++++++++++*/
/* 
https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Roboto:400,100,100italic,400italic,300italic,300,500,500italic,700,700italic,900,900italic|Lato:400,100,100italic,300,300italic,400italic,700italic,900,900italic,700|Oswald:400,300,700|Roboto+Condensed:400,300,300italic,400italic,700,700italic|Montserrat:400,700|Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Raleway:400,100,200,300,500,600,700,800,900|PT+Sans:400,400italic,700,700italic|Droid+Sans:400,700|Open+Sans+Condensed:300,700,300italic|Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic|Roboto+Slab:400,100,300,700|Droid+Serif:400,400italic,700,700italic|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Arimo:400,400italic,700,700italic|Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900|Poiret+One|Passion+One:400,700,900|Candal|Dosis:400,200,300,500,600,700,800|Lobster|Oxygen:400,300,700|Anton|Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic|Francois+One|Righteous|Quicksand:400,300,700|Orbitron:400,500,700,900|Fredoka+One|Josefin+Slab:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic|Source+Code+Pro:400,200,300,500,600,900,700|Comfortaa:400,300,700|Pontano+Sans|Quattrocento+Sans:400,400italic,700,700italic|Russo+One|Archivo+Black|Black+Ops+One|Hammersmith+One|Amaranth:400,400italic,700,700italic|Special+Elite|Fugaz+One|Jura:400,300,600,500|Marck+Script|Playball|Paytone+One|Changa+One:400,400italic|Audiowide|Squada+One|Aldrich|Limelight|Days+One|Oleo+Script:400,700|Ultra|Rajdhani:400,300,500,600,700|Khula:400,600,700,800,300|Advent+Pro:400,100,200,500,300,600,700|Fredericka+the+Great|Montserrat+Alternates:400,700|Aclonica|Sansita+One|Poller+One|Corben:400,700|Frijole|Lilita+One|Racing+Sans+One|Carter+One|Lekton:400,400italic,700|Shanti|Gravitas+One
<link href='https://fonts.googleapis.com/css?family=Modak|Asar|Inknut+Antiqua:400,300,500,600,700,800,900|Eczar:400,500,600,700,800|Sahitya:400,700|Rhodium+Libre|Tillana:400,500,600,700,800|Arya:400,700|Amita:400,700|Ranga:400,700|Vesper+Libre:400,700,500,900|Rozha+One|Sarpanch:400,500,600,700,800,900|Sura:400,700|Dekko|Sumana:400,700|Palanquin+Dark:400,500,600,700|Jaldi:400,700|Laila:400,500,300,600,700|Martel+Sans:400,200,300,600,700,900,800|Martel:400,300,200,600,700,800,900|Karma:400,300,500,600,700|Palanquin:400,100,200,300,500,600,700|Kurale|Biryani:400,200,300,600,700,800,900|Yantramanav:400,100,300,500,700,900|Pragati+Narrow:400,700|Sarala:400,700|Cambay:400,700,400italic,700italic|Halant:400,300,600,500,700|Kadwa:400,700|Khand:400,300,500,600,700|Teko:400,300,500,600,700|Ek+Mukta:400,200,300,500,600,700,800|Rajdhani:400,300,500,600,700|Khula:400,300,600,800,700|Kalam:400,300,700|Glegoo:400,700|Poppins:400,700,600,500,300|Hind:400,700,600,500,300|Noto+Sans:400,700italic,700,400italic&subset=devanagari,latin' rel='stylesheet' type='text/css'>

*/

/* HTML LINK ++++++++++++++++++++++++++++++++++++++*/
/* <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Roboto:400,100,100italic,400italic,300italic,300,500,500italic,700,700italic,900,900italic|Lato:400,100,100italic,300,300italic,400italic,700italic,900,900italic,700|Oswald:400,300,700|Roboto+Condensed:400,300,300italic,400italic,700,700italic|Montserrat:400,700|Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Raleway:400,100,200,300,500,600,700,800,900|PT+Sans:400,400italic,700,700italic|Droid+Sans:400,700|Open+Sans+Condensed:300,700,300italic|Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic|Roboto+Slab:400,100,300,700|Droid+Serif:400,400italic,700,700italic|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Arimo:400,400italic,700,700italic|Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900|Poiret+One|Passion+One:400,700,900|Candal|Dosis:400,200,300,500,600,700,800|Lobster|Oxygen:400,300,700|Anton|Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic|Francois+One|Righteous|Quicksand:400,300,700|Orbitron:400,500,700,900|Fredoka+One|Josefin+Slab:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic|Source+Code+Pro:400,200,300,500,600,900,700|Comfortaa:400,300,700|Pontano+Sans|Quattrocento+Sans:400,400italic,700,700italic|Russo+One|Archivo+Black|Black+Ops+One|Hammersmith+One|Amaranth:400,400italic,700,700italic|Special+Elite|Fugaz+One|Jura:400,300,600,500|Marck+Script|Playball|Paytone+One|Changa+One:400,400italic|Audiowide|Squada+One|Aldrich|Limelight|Days+One|Oleo+Script:400,700|Ultra|Rajdhani:400,300,500,600,700|Khula:400,600,700,800,300|Advent+Pro:400,100,200,500,300,600,700|Fredericka+the+Great|Montserrat+Alternates:400,700|Aclonica|Sansita+One|Poller+One|Corben:400,700|Frijole|Lilita+One|Racing+Sans+One|Carter+One|Lekton:400,400italic,700|Shanti|Gravitas+One' rel='stylesheet' type='text/css'>  */

/* CSS LINK ++++++++++++++++++++++++++++++++++++++*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Roboto:400,100,100italic,400italic,300italic,300,500,500italic,700,700italic,900,900italic|Lato:400,100,100italic,300,300italic,400italic,700italic,900,900italic,700|Oswald:400,300,700|Roboto+Condensed:400,300,300italic,400italic,700,700italic|Montserrat:400,700|Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Raleway:400,100,200,300,500,600,700,800,900|PT+Sans:400,400italic,700,700italic|Droid+Sans:400,700|Open+Sans+Condensed:300,700,300italic|Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic|Roboto+Slab:400,100,300,700|Droid+Serif:400,400italic,700,700italic|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Arimo:400,400italic,700,700italic|Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900|Poiret+One|Passion+One:400,700,900|Candal|Dosis:400,200,300,500,600,700,800|Lobster|Oxygen:400,300,700|Anton|Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic|Francois+One|Righteous|Quicksand:400,300,700|Orbitron:400,500,700,900|Fredoka+One|Josefin+Slab:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic|Source+Code+Pro:400,200,300,500,600,900,700|Comfortaa:400,300,700|Pontano+Sans|Quattrocento+Sans:400,400italic,700,700italic|Russo+One|Archivo+Black|Black+Ops+One|Hammersmith+One|Amaranth:400,400italic,700,700italic|Special+Elite|Fugaz+One|Jura:400,300,600,500|Marck+Script|Playball|Paytone+One|Changa+One:400,400italic|Audiowide|Squada+One|Aldrich|Limelight|Days+One|Oleo+Script:400,700|Ultra|Rajdhani:400,300,500,600,700|Khula:400,600,700,800,300|Advent+Pro:400,100,200,500,300,600,700|Fredericka+the+Great|Montserrat+Alternates:400,700|Aclonica|Sansita+One|Poller+One|Corben:400,700|Frijole|Lilita+One|Racing+Sans+One|Carter+One|Lekton:400,400italic,700|Shanti|Gravitas+One);
@import url(https://fonts.googleapis.com/css?family=Modak|Asar|Inknut+Antiqua:400,300,500,600,700,800,900|Eczar:400,500,600,700,800|Sahitya:400,700|Rhodium+Libre|Tillana:400,500,600,700,800|Arya:400,700|Amita:400,700|Ranga:400,700|Vesper+Libre:400,700,500,900|Rozha+One|Sarpanch:400,500,600,700,800,900|Sura:400,700|Dekko|Sumana:400,700|Palanquin+Dark:400,500,600,700|Jaldi:400,700|Laila:400,500,300,600,700|Martel+Sans:400,200,300,600,700,900,800|Martel:400,300,200,600,700,800,900|Karma:400,300,500,600,700|Palanquin:400,100,200,300,500,600,700|Kurale|Biryani:400,200,300,600,700,800,900|Yantramanav:400,100,300,500,700,900|Pragati+Narrow:400,700|Sarala:400,700|Cambay:400,700,400italic,700italic|Halant:400,300,600,500,700|Kadwa:400,700|Khand:400,300,500,600,700|Teko:400,300,500,600,700|Ek+Mukta:400,200,300,500,600,700,800|Rajdhani:400,300,500,600,700|Khula:400,300,600,800,700|Kalam:400,300,700|Glegoo:400,700|Poppins:400,700,600,500,300|Hind:400,700,600,500,300|Noto+Sans:400,700italic,700,400italic&subset=devanagari,latin);
/* JS LINK ++++++++++++++++++++++++++++++++++++++*/

/*
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic:latin', 'Roboto:400,100,100italic,400italic,300italic,300,500,500italic,700,700italic,900,900italic:latin', 'Lato:400,100,100italic,300,300italic,400italic,700italic,900,900italic,700:latin', 'Oswald:400,300,700:latin', 'Roboto+Condensed:400,300,300italic,400italic,700,700italic:latin', 'Montserrat:400,700:latin', 'Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic:latin', 'Raleway:400,100,200,300,500,600,700,800,900:latin', 'PT+Sans:400,400italic,700,700italic:latin', 'Droid+Sans:400,700:latin', 'Open+Sans+Condensed:300,700,300italic:latin', 'Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic:latin', 'Roboto+Slab:400,100,300,700:latin', 'Droid+Serif:400,400italic,700,700italic:latin', 'Merriweather:400,300,300italic,400italic,700,700italic,900,900italic:latin', 'Arimo:400,400italic,700,700italic:latin', 'Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900:latin', 'Poiret+One::latin', 'Passion+One:400,700,900:latin', 'Candal::latin', 'Dosis:400,200,300,500,600,700,800:latin', 'Lobster::latin', 'Oxygen:400,300,700:latin', 'Anton::latin', 'Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic:latin', 'Francois+One::latin', 'Righteous::latin', 'Quicksand:400,300,700:latin', 'Orbitron:400,500,700,900:latin', 'Fredoka+One::latin', 'Josefin+Slab:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic:latin', 'Source+Code+Pro:400,200,300,500,600,900,700:latin', 'Comfortaa:400,300,700:latin', 'Pontano+Sans::latin', 'Quattrocento+Sans:400,400italic,700,700italic:latin', 'Russo+One::latin', 'Archivo+Black::latin', 'Black+Ops+One::latin', 'Hammersmith+One::latin', 'Amaranth:400,400italic,700,700italic:latin', 'Special+Elite::latin', 'Fugaz+One::latin', 'Jura:400,300,600,500:latin', 'Marck+Script::latin', 'Playball::latin', 'Paytone+One::latin', 'Changa+One:400,400italic:latin', 'Audiowide::latin', 'Squada+One::latin', 'Aldrich::latin', 'Limelight::latin', 'Days+One::latin', 'Oleo+Script:400,700:latin', 'Ultra::latin', 'Rajdhani:400,300,500,600,700:latin', 'Khula:400,600,700,800,300:latin', 'Advent+Pro:400,100,200,500,300,600,700:latin', 'Fredericka+the+Great::latin', 'Montserrat+Alternates:400,700:latin', 'Aclonica::latin', 'Sansita+One::latin', 'Poller+One::latin', 'Corben:400,700:latin', 'Frijole::latin', 'Lilita+One::latin', 'Racing+Sans+One::latin', 'Carter+One::latin', 'Lekton:400,400italic,700:latin', 'Shanti::latin', 'Gravitas+One::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Modak::devanagari,latin', 'Asar::devanagari,latin', 'Inknut+Antiqua:400,300,500,600,700,800,900:devanagari,latin', 'Eczar:400,500,600,700,800:devanagari,latin', 'Sahitya:400,700:devanagari,latin', 'Rhodium+Libre::devanagari,latin', 'Tillana:400,500,600,700,800:devanagari,latin', 'Arya:400,700:devanagari,latin', 'Amita:400,700:devanagari,latin', 'Ranga:400,700:devanagari,latin', 'Vesper+Libre:400,700,500,900:devanagari,latin', 'Rozha+One::devanagari,latin', 'Sarpanch:400,500,600,700,800,900:devanagari,latin', 'Sura:400,700:devanagari,latin', 'Dekko::devanagari,latin', 'Sumana:400,700:devanagari,latin', 'Palanquin+Dark:400,500,600,700:devanagari,latin', 'Jaldi:400,700:devanagari,latin', 'Laila:400,500,300,600,700:devanagari,latin', 'Martel+Sans:400,200,300,600,700,900,800:devanagari,latin', 'Martel:400,300,200,600,700,800,900:devanagari,latin', 'Karma:400,300,500,600,700:devanagari,latin', 'Palanquin:400,100,200,300,500,600,700:devanagari,latin', 'Kurale::devanagari,latin', 'Biryani:400,200,300,600,700,800,900:devanagari,latin', 'Yantramanav:400,100,300,500,700,900:devanagari,latin', 'Pragati+Narrow:400,700:devanagari,latin', 'Sarala:400,700:devanagari,latin', 'Cambay:400,700,400italic,700italic:devanagari,latin', 'Halant:400,300,600,500,700:devanagari,latin', 'Kadwa:400,700:devanagari,latin', 'Khand:400,300,500,600,700:devanagari,latin', 'Teko:400,300,500,600,700:devanagari,latin', 'Ek+Mukta:400,200,300,500,600,700,800:devanagari,latin', 'Rajdhani:400,300,500,600,700:devanagari,latin', 'Khula:400,300,600,800,700:devanagari,latin', 'Kalam:400,300,700:devanagari,latin', 'Glegoo:400,700:devanagari,latin', 'Poppins:400,700,600,500,300:devanagari,latin', 'Hind:400,700,600,500,300:devanagari,latin', 'Noto+Sans:400,700italic,700,400italic:devanagari,latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
*/